/* Container para la web */
.container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}
/* Barra de Menu */
.logo{
    width: 5.5%;
    padding-right: 5%;
    padding-left: 5%;
    border: solid 4px black;
    font-family: 'Impact', sans-serif
}
/* Barra de Menu */
.nav-ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
/* Experiencia Extraordinaria */
.title{
    font-size: 60px;
    font-weight: bold;
}
.subtitle{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text{
    font-size: 14px;
    line-height: 1.6;
}
.image-container{
    margin-top: 20px;
    border: 4px solid;
    border-radius: 10px ;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    display: block;
}
.page-indicator{
    font-size: 12px;
    margin-top: 10px;
    text-align: right;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}
/* Sección 2 */
.section-2{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.boton{
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.images{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
/* Final de la Sección 2 */
/* Sección 3 */
.section-3{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    display: flex;
    justify-content: center;
}
.imagen{
    display: flex;
    justify-content: center;
}
.button-2{
    display: inline-block;
    padding: 10px 20px;
    border: 2px black solid;
    margin-top: 2px;
}
.images-2{
    display: flex;
    justify-content: center;
}
h5{
    display: flex;
    justify-content: center;
}
/* Final de la Sección 3 */
/* Principio de la Sección 4 */
.section-4{
    display: flex;
    justify-content: end;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}
h6{
    font-size: 16px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.circle p{
    width: 80%;
}
/* Final de la Sección 4 */
/* Principio de la Sección 5 */
p{
    font-size: ;
}