/* Container para la web */
.container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
/* Barra de Menu */
.logo{
    width: 5.5%;
    padding-right: 5%;
    padding-left: 5%;
    border: solid 4px black;
    font-family: 'Impact', sans-serif
}
/* Barra de Menu */
.nav-ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
/* Experiencia Extraordinaria */